@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Rahul Bhujbal<br />
    2555, Via Firenze<br />
    Fort Worth, Texas 76109<br />
    <abbr title="Phone">P:</abbr>
    682.701.2182
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:rahul.bhujbal.uk@gmail.com">rahul.bhujbal.uk@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>